<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_APP_KEY</key>
	<string>59fj48dj327fdl19fdi28cas5d20jd83</string>
	<key>API_BASE_URL_DEBUG</key>
	<string>http://192.168.18.3:30011/v1</string>
	<key>API_BASE_URL_RELEASE</key>
	<string>http://api.fishlife520.com/v1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>鱼笙</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.3</string>
	<key>CFBundleVersion</key>
	<string>23</string>
	<key>IS_DEBUG</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App需要拍照获取图片来完善个人信息或记录内容</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要获取地理位置,以便记录用户所在地,来完善个人历史位置信息或记录内容</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要获取地理位置,以便记录用户所在地,来完善个人历史位置信息或记录内容</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要录取视频和音频来完善个人信息或记录内容</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要获取图片来完善个人信息或记录内容</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>a_map_api_key</key>
	<string>62a525eb1025c4e132d4d46b958f20ed</string>
</dict>
</plist>
